html 
    title Proveedores
    body 
    h1 Lista de proveedores 
    ul 
        each proveedor in proveedores
            li
                p= proveedor.nombre
                p= proveedor.servicio
                p= proveedor.telefono
    